body {
    font-family:  sans-serif;
    background-color: #98e48e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.contenedor1 {
    background: white;
    border-radius: 25px;
    width: 300px;
    text-align: center;
    padding: 20px;
}
.contenedor1 img {
    width: 100%;
}
.contenedor1 h2 {
    color: black;
}
.contenedor1 p {
    color: black;
    font-size: 14px;
}
.opciones {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}
select {
    padding: 20px;
    border-radius: 5px;
}
.seccion-abajo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.p {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    margin: 30px;
}
.btn {
    background: linear-gradient(to right, #4CAF50, #FFD700);
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex-grow: 1;
}
.btn:hover {
    opacity: 0.9;
}